.notifyErrorWrapper {
    width: 300px;
    height: 80px;
    padding: 0px 0px 0px 10px;
    color: white;
    box-shadow: 0px 0px 5px 5px gray;
    position: absolute;
    z-index: 5;
}
.notifyWrapper {
    background-color: rgba(22, 21, 21, 0.705);
    right: 50px;
    top: 50px;
}
.errorWrapper {
    background-color: rgba(158, 14, 14, 0.705);
    left: 50px;
    top: 50px;
}