.modalAffermative {
    width: calc(200px + 10vmax);
    height: calc(100px + 5vmax);
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70% 30%;
}

.buttonsContainer {
    display: flex;
    justify-content: flex-end
}