.simple {
    background-color: var(--firts_theme_color);
    border: none;
    cursor: pointer;
    outline: none;
    padding: 12px 15px;
    margin: 2px 5px;
    width: 70px;
    height: 50px;
    color: rgb(255, 255, 255);
}

.simple_small {
    padding: 2px 5px;
    width: 60px;
    height: 30px;
}

.modal_affremative {
    min-width: 80px;
    height: 40px;
    padding: 2px 15px;
    margin: 2px 5px;
    cursor: pointer;
    border: none;
    transition: .2s all linear;
}
.modal_affremative:hover {
    transform: translateY(-3px);
}

.modal_affremative_accept{
    background-color: var(--accept_theme_color);
}

.modal_affremative_decline {
    background-color: var(--decline_theme_color);
}

.modal_registration{
    min-width: 100px;
    height: 40px;
    padding: 4px 15px;
    margin: 2px 5px;
    cursor: pointer;
    border: none;
    transition: .2s all linear;
}

.modal_registration:hover {
    transform: translateY(-3px);
}

.modal_registration_accept {
    background-color: var(--accept_theme_color);
}

.modal_registration_decline {
    background-color: var(--decline_theme_color);
}

.nav_bar_icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
    padding: 0px;
    border: none;
    background-color: inherit;
}

.nav_bar_icon>img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
