.linkBlockWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    height: inherit;
}


.linkBlockElement {
    height: inherit;
    display: grid;
    justify-content: center;
    align-items: center;    
    border-left: dashed 2px gray;
    width: 100%;
    box-sizing: border-box;
}
.linkBlockElement:last-child {
    border-right: dashed 2px gray;
    box-sizing: border-box;
}
.linkBlockAuth {
    grid-column: 1/6;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 2fr 1fr;
    height: inherit;
}

.linkBlockAuth>p {
    margin: 0px;
}